.digest__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 12px;
    background-color: var(--tg-theme-secondary-bg-color, #ffffff);
    border: 1px solid #4F77F1;
    margin-bottom: 12px;
    transition: box-shadow 0.2s ease; 
}

.digest__item:hover {
    transform: translateY(-4px); 
    box-shadow: 0 5px 15px rgba(79, 119, 241, 0.15);
}

.digest__title {
    font-size: 18px; 
    color: #1032A1;
    margin: 5px 0;
    font-weight: 700;
}

.digest__type {
    font-size: 12px;
    color: #666;
}

.digest__mainInfo {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    margin-block: 8px;
}

.digest__date {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 13px;
}

.digest__day, 
.digest__price, 
.digest__time, 
.digest__dates {
    display: flex;
    align-items: center;
    gap: 4px;
}

.digest__location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.digest__location img, 
.digest__date img, 
.digest__price img {
    
    flex-shrink: 0;
    margin-top: 2px;
}

.digest__location-text, .digest__city, .digest__address {
    display: inline;
}

.digest__tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #E1E1E1;
}

.digest__tag {
    padding: 3px 6px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 500;
    background-color: #f0f2f8; 
}

.digest__tag:nth-child(3n+1){ background-color: #ADFFC6; }
.digest__tag:nth-child(3n+2){ background-color: #bafffb; }
.digest__tag:nth-child(3n+3){ background-color: #84a0f5; }


.digest__knowMore {
    display: none; 
    align-self: flex-end;
    margin-top: 12px; 
    font-size: 12px;
    padding: 6px 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #1032A1;
    color: #ffffff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    
}

.digest__item:hover {
    box-shadow: 0 5px 15px rgba(79, 119, 241, 0.2);
}

.digest__item:hover .digest__knowMore {
    display: block; 
}




