:root {
  color-scheme: light !important;
}

body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

*{
  margin: 0;
  padding: 0;
  border:none;
  background: none;
}

a{
  text-decoration: none;
  color:black;
}

html{
  font-family: 'Montserrat', 'sans-serif';
  box-sizing: border-box;
  display: block;
  max-width: 420px;
  margin-inline: auto;
  padding: 5px;
  background-color: #ffffff;
  color: #200f07;
  
}

.tabbar{
  display: block;
  max-width: 400px;
  margin-inline: auto;
}
/* Адаптация иконок под тему */
:root {
    --icon-filter: none;
}

/* В тёмной теме иконки становятся светлыми */
@media (prefers-color-scheme: dark) {
    .event__city img,
    .event__price img,
    .event__date img {
        filter: brightness(0) invert(1);
    }
}

